.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plus-btn{
    border: none;
    font-size: 20px;
    cursor: pointer;
    background: inherit;
    margin-right: 5px;
    color: #ACAFB4;
}

.dots-btn{
    border: none;
    position: relative;
    font-size: 20px;
    bottom: 20%;
    cursor: pointer;
    background: inherit;
    color: #ACAFB4;
}



.group-title {
    font-size: 20px;
}
.group-count {
    color: #ACAFB4;
    font-size: 20px;
}